@import "../../../styles.scss";

.timeline-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-container {
  width: 90%;
  margin-bottom: 20px;
  padding:15px 15px 2px 15px;

 
  .feed-row {
    display:flex;
    flex-direction: row;
  align-items: center;

    .profile-picture {
      border-radius: 50%;
      margin-right: 15px;
      margin-bottom: 13px;
    }
    .feed-col {
      width:100%;
      display:flex;
    flex-direction: column;
  justify-content: center;
    }
  }
.feed-time {
  align-self: flex-end;
}
.feed-user {
  color:$primary-color;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 5px;
}
}
