<div>Here is your network's recent activity</div>
<div class="timeline-container">
  <mat-card class="card-container">
   
        <div class="feed-row">
          <!-- image src to be changed -->
          <img
            class="profile-picture"
            alt="Profile Picture"
            width="50"
            height="50"
            [src]="
              'https://static.wikia.nocookie.net/bleachuntoldstories/images/2/24/Hitsugaya_toshiro_profile.png'
            "
          />
          <div class="feed-col">
          <span class="feed-user">"Marwan Ayadi"</span>
          <span>Sold 10 shares of "BNS" stock at an average of $56 a share</span>
          <span class="feed-time">time</span>
      </div>
    </div>
     
  </mat-card>
</div>

 
  
