// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-color: #07367c;
$mt-green: #338641;
$mt-red: #c42126;
$action-color: #f79630;
$mt-dark: #282224;
$mt-white: #f8f8fb;
$placeholder-color: #979797;

@import "./theme.scss";
@import "./forms.scss";
