@import "../../../styles.scss";

.transaction-history-container {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    mat-card-title {
        padding-top: 0.5em;
    }
    a {
        color: $primary-color;
    }
    .wrapper {
        height: 85%;
        overflow-y: scroll;
        padding-top: 1em;
    }

    .single-transaction-container {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .transaction-status-pending {
        height: 6%;
        text-align: right;
        padding-right: 5px;
        color: $mt-coral;
    }
    .transaction-status-date {
        height: 6%;
        text-align: right;
        padding-right: 5px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
