<div class="transaction-history-container">
    <mat-card>
      <mat-card-title>Transaction History</mat-card-title>
      <div *ngFor="let transaction of transactionHistory">
        <p> {{printTransaction(transaction)}}></p>
        <hr>
      </div>
      <p>
        Sold 245 shares of BHF at an average of 13.26$ per share.
      </p>
      <hr>
      <p>
        Sold 245 shares of BHF at an average of 13.26$ per share.
      </p>
      <hr>
      <p>
        Sold 245 shares of BHF at an average of 13.26$ per share.
      </p>
      <hr>
      <p>
        Sold 245 shares of BHF at an average of 13.26$ per share.
      </p>
      <hr>
    </mat-card>
  </div>