@import "../../../styles.scss";

.company-title {
  
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

  .company-header {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 30px;
      margin-right: 1rem;

      .ticker {
        font-size: 36px;
        text-decoration: underline;
        color: $primary-color;
        margin-right: 10px;
      }
    }

    .chips-container{
      margin-top: 1rem ;
    }

    .company-logo {
      border: 1px solid black;
      height: 50px;
      width: 80px;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
    }
  }

  .mat-chip {
    color: $primary-color;
    background-color: white;
    border: lightgoldenrodyellow solid 0.01px;
    max-width: 120px;
    align-items: center;
    overflow: hidden;
    display: inline-flex;
  }

  .open-market {
    color: rgba(2, 131, 38, 0.87) !important;
    background-color: rgba(210, 252, 207, 1) !important;
  }
  .closed-market {
    color: $mt-red !important;
    background-color: rgb(243, 220, 219) !important;
  }
}
.next-opening-message {
  color: $mt-red;
  font-weight: 500;
  text-align: right;
  font-size: small;
  margin: 40px 0 -5px 0;
}
.stock-pricing {
  margin-left: 1rem;
  display: flex;
  align-items: center;

  .stock-value {
    font-size: 24px;
    color: $primary-color;
    margin-right: 10px;
  }

  .stock-change {
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  #up-arrow,
  #down-arrow {
    display: none;
  }

  .positive-change {
    color: $mt-green;

    #up-arrow {
      display: block;
    }
  }

  .negative-change {
    color: $mt-red;

    #down-arrow {
      display: block;
    }
  }
}
