<mat-card class="additionals-container">
  <div class="card-title">
    <h3 class="title">{{ getTitleByType() }}</h3>
    <mat-icon>{{ getIconByType() }}</mat-icon>
  </div>

  <div class="users-additional-container" *ngIf="list$ | async as list">
    <ng-container *ngFor="let entity of list">
      <div class="additional-container" *ngIf="type!== 'stockPercentages'">
        <div class="additional-info">
          <img class="additional-picture" alt="Profile Picture" width="40" height="40" [src]="
              entity.avatarURL" (click)=" navigateToUserProfile(entity.username)" />
          <span class="additional-name" (click)="navigateToUserProfile(entity.username)">{{
            entity.firstName + " " + entity.lastName }}</span>
        </div>
      </div>

      <div *ngIf="type=== 'stockPercentages'" class="additional-container">
        <span class="additional-symbol" (click)="navigateToStockPage(entity.symbol)">{{
          entity.symbol }}</span><span>%{{entity.percentage}}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </ng-container>
  </div>
</mat-card>