@import "../../../styles.scss";

.container {
  width: 530px;
  padding: 3em;
  .login-text-hint {
    display: none;
  }
  .mat-form-field {
    font-size: 16px;
  }

  .mat-flat-button {
    background-color: $action-color;
    color: black;
    font-size: 16px;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: initial;
    padding: 16px;
    text-align: center;

    .login-text-hint {
      color: $mt-dark;
      display: unset;
    }
  }
}
