<div class="container">
  <h2 class="login-text-hint">Already have an account?</h2>
  <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mt-input-field" appearance="outline" color="accent">
      <input id="login-email" matInput type="email" placeholder="Email" [formControl]="email" />
    </mat-form-field>

    <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
      <input id="login-password" matInput type="password" placeholder="Password" [formControl]="pwd" />
    </mat-form-field>
    <button id="login-submit-btn" mat-flat-button class="mt-input-field half"
      [class.btn-opacity-disabled]="logInForm.invalid"
      [disabled]="(logInForm.invalid || submitted) && !appError">LOGIN</button>

    <!-- Error messages -->
    <div class="form-error-messages" *ngIf="appError"> A user with this credentials could not be found!</div>
    <div class="form-error-messages" *ngIf="logInForm.invalid">{{ showErrorMessage() }}</div>
  </form>
</div>