<div class="container">
  <h2 class="login-text-hint">Already have an account?</h2>
  <mat-form-field class="mt-input-field" appearance="outline" color="accent">
    <input matInput type="email" placeholder="Email" />
  </mat-form-field>

  <div class="password-login-position">
    <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
      <input matInput type="password" placeholder="Password" />
    </mat-form-field>
    <button mat-flat-button class="mt-input-field half">LOGIN</button>
  </div>
</div>
