<div class="container">
  <h2 class="login-text-hint">Already have an account?</h2>

  <div class="form-error-messages">
    <h3 *ngIf="appError"> A user with this credentials could not be found!</h3>
    <h3 *ngIf="logInForm.invalid">{{ showErrorMessage() }}</h3>
  </div>

  <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mt-input-field" appearance="outline" color="accent">
      <input matInput type="email" placeholder="Email" [formControl]="email" />
    </mat-form-field>

    <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
      <input matInput type="password" placeholder="Password" [formControl]="pwd" />
    </mat-form-field>
    <button mat-flat-button class="mt-input-field half" [class.btn-opacity-disabled]="logInForm.invalid"
      [disabled]="logInForm.invalid">LOGIN</button>
  </form>

</div>