@import "../../../styles.scss";

.container {
  width: 530px;
  padding-top: 1em;
  padding-right: 3em;

  .email-input {
    width: calc(100% - 10px);
    margin: 5px;
  }

  .password-input,
  .login-submit {
    width: calc(50% - 10px);
    margin: 5px;
  }

  .mat-form-field {
    font-weight: 400;
    font-size: 20px;
    color: $placeholder-color;

    input {
      height: 43px;
      background-color: $mt-white;
      border: 1px solid $mt-dark;
      border-radius: 5px;
    }
  }

  .mat-form-field-wrapper {
    padding: 0px !important;
  }

  .mat-flat-button {
    background-color: $action-color;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
}
