@import "../../../styles.scss";

.card-container {
  height: 420px;
}
.chart-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.chart-unavailable {
  padding-top: 100px;
  text-align: center;
}
.range-option-selected {
  text-align: center;
  width: 60px;
  border-bottom: 2px solid $action-color;
  padding-bottom: 5px;
  cursor: pointer;
}
.range-option {
  text-align: center;
  width: 60px;
  border-bottom: none;
  cursor: pointer;
}
