<mat-card class="card-container">
  <div id="chart-options" class="chart-options-container">
    <span
      [class]="getOptionClass(option.range)"
      (click)="changeRangeInterval(option)"
      *ngFor="let option of chartOptions"
      >{{ option.view }}</span
    >
  </div>
  <div
    id="stock-chart"
    *ngIf="!isUnavailableChart"
    echarts
    [options]="chartOption"
  ></div>
  <h4
    id="unavailable-chart"
    *ngIf="isUnavailableChart"
    class="chart-unavailable"
  >
    No chart available
  </h4>
</mat-card>
