<input
  id="searchbox"
  type="text"
  (keyup)="queryFilter($event)"
  placeholder="Search for stocks ..."
  matInput
  [(ngModel)]="query"
  [matAutocomplete]="auto"
  spellcheck="false"
/>
<mat-autocomplete
  #auto="matAutocomplete"
  (optionActivated)="getActiveOption($event)"
>
  <div class="searchOptions">
    <span>Filter:</span>
    <div
      (click)="selectedSearchOption = 'all'; queryFilter(null)"
      [class]="isSelectedClass('all')"
    >
      <mat-icon>select_all</mat-icon><span>All</span>
    </div>
    <div
      (click)="selectedSearchOption = 'stocks'; queryFilter(null)"
      [class]="isSelectedClass('stocks')"
    >
      <mat-icon>trending_up</mat-icon>
      <span>Stocks</span>
    </div>
    <div
      (click)="selectedSearchOption = 'users'; queryFilter(null)"
      [class]="isSelectedClass('users')"
    >
      <mat-icon>people_outline</mat-icon>
      <span>Users</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="custom-scroll">
    <mat-option
      *ngFor="let item of searchResults"
      [value]="item"
      (click)="navigateTo(item.type,item.id, item.name) "
    >
      <div class="option-container">
        <div class="picture-name">
          <img
            *ngIf="item.type === 'user'"
            class="profile-picture"
            alt="Profile Picture"
            width="30"
            height="30"
            [src]="item.profileImage"
          />
          <span>{{ item.name }}</span>
        </div>
        <span>{{ item.id }}</span>
      </div>
    </mat-option>
  </div>
</mat-autocomplete>
