input {
  outline: none;
}

.option-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#searchbox {
  width: 90%;
  height: 28px;
  padding: 5px;
}
