// Desktop Version Styling:
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #07367c;

  .logo-and-text,
  .right-side-buttons {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .search-box-container {
    width: 50%;
  }

  .right-side-buttons {
    padding: 0;
  }

  #logo {
    max-height: 56px;
    width: auto;
  }

  figcaption {
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
  }

  #searchbox {
    width: 90%;
    height: 28px;
  }

  mat-icon {
    color: white;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
    margin-right: 10%;
  }
  #log-out-link {
    color: white;
    font-size: 22px;
    margin-right: 10px;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
// Mobile Version Styling:
.header-container-mobile {
  width: 100%;
  background-color: #07367c;
  display: none;
  align-items: center;
  height: 100px;

  figure {
    margin-bottom: 30px;

    figcaption {
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .menu-btn {
    position: absolute;
    left: 15px;
    background: none;
    border: none;

    #menu-btn-icon {
      color: white;
      width: 34px;
      height: 34px;
    }
  }

  .logo-and-text-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;

    #logo {
      max-height: 48px;
      width: auto;
    }
  }
}
#user-photo {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
  width: 150px;
}
::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  // border-radius: 0 !important;
  width: 100vw !important;
  height: calc(100vh - 100px) !important;
  position: absolute !important;
  top: 100px !important;
  background: white;
}

.figcaption-in-menu {
  text-align: center;
  color: #282224;
  font-size: 22px;
  text-shadow: 0.15px 0.15px #282224;
  margin-bottom: 50px;

  #score {
    color: #af6060;
    font-size: 16px;
  }
  #score-value {
    color: #07367c;
    font-size: 16px;
  }
}

.menu-items {
  align-items: center;

  button {
    padding: 0 25%;
    margin-bottom: 10px;
  }

  span {
    font-size: 22px;
    color: #07367c;
    text-decoration: underline;
  }

  #menu-item-icon {
    color: #07367c;
    width: 34px !important;
    height: 34px !important;
    font-size: 34px !important;
  }
}

#log-out-mobile {
  color: #07367c;
  text-align: center;
  font-size: 22px;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

// triggers if the screen is less than 600px
@media only screen and (max-width: 600px) {
  .header-container {
    display: none;
  }

  .header-container-mobile {
    display: flex;
  }
}
