.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #07367c;

  .logo-and-text,
  .right-side-buttons {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .search-box-container {
    width: 50%;
  }

  .right-side-buttons {
    padding: 0;
  }

  #logo {
    max-height: 56px;
    width: auto;
  }

  figcaption {
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
  }

  #searchbox {
    width: 90%;
    height: 28px;
  }

  mat-icon {
    color: white;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;;
    margin-right: 10%;
  }
  #log-out-link {
    color: white;
    font-size: 22px;
    margin-right: 10px;
  }
}

.header-container-mobile{
  width: 100%;
  background-color: #07367c;
  display: flex;
  align-items: center;
  height: 100px;

  .menu-btn {
    position: absolute;
    left: 15px;
    background-color: none;
    border:none;
  }

  .logo-and-text-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;

    #logo {
      max-height: 48px;
      width: auto;
    }

    figcaption {
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .mobile-menu-container {
    width: 100vw;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    background: white;
  }
}
// .menu-mobile,
// .logo-and-text-mobile {
//   background-color: #07367c;
//   height: 20%;
//   float: left;
//   align-items: center;
//   justify-content: center;
//   display: flex;
//   width: 100%;
// }


#menu-icon {
  color:white;
  font-size: 5vw !important;
  text-align: center;
}
.mat-menu-style {
  width: 300px;
  height: 400px;
}

#user-photo {
  display: inline-flex;
  height: 70%;
}
.figcaption-mobile {
  text-align: center;
  color: #282224;
  font-size: 3.5vw;
  font-weight: 500;
  text-shadow: 0.25px 0.25px #282224;

  #score {
    color: #af6060;
    font-size: 2.5vw;
  }
  #score-value {
    color: #07367c;
    font-size: 2.5vw;
  }
}
#log-out-mobile {
  color: #07367c;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
  display: block;
}
