<div class="container">
    <div class="picture-wrap">
        <img alt="cover picture" class="cover-picture" src="{{currentProfileUser.coverPhotoURL}}">
        <img alt="profile picture" class="profile-picture" src="{{currentProfileUser.avatarURL}}">
    </div>
    <div class="labels">
        <div class="username"> {{ currentProfileUser.username }} </div>
        <mat-chip class="industry">TECH
        </mat-chip>
        <a href=""> {{ currentProfileUser.followers.length }} Followers</a>
        <a href=""> {{ currentProfileUser.following.length }} Following</a>
        <button mat-button>{{buttonText()}}</button>
    </div>
    <mat-card class="bio">
        {{ bioText() }}
    </mat-card>

</div>