@import "../../../styles.scss";
.profile-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-picture {
    width: 40%;
    height: 40%;
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .user-first-name {
    font-size: 20px;
    margin-bottom: 5px;
    cursor:pointer;
  }
  .edit-profile {
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .user-score-label {
    color: $mt-red;
    font-weight: 500;
    font-size: 12px;
  }

  .user-score {
    color: $primary-color;
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
  }
}
.column-name {
  font-weight: 500;
}
.your-stocks {
  width: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  max-height: 200px;
}
.your-earnings {
  width: 80%;
  margin-bottom: 20px;
}
.mat-row {
  height: auto;
}

th.mat-header-cell:last-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-cell:last-of-type {
  padding: 2px 3px;
}
.mat-header-cell {
  padding: 2px 3px;
}
.mat-cell {
  padding: 2px 3px;
}
.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
}
