<div class="profile-container">
  <img
    class="user-picture"
    alt="Profile Picture"
    (click)="goToProfile()"
    width="40"
    height="40"
    [src]="currentUser.avatarURL"
  />
  <span (click)="goToProfile()" class="user-first-name">Hello {{ currentUser.firstName }} !</span>
  <div>
    <span class="user-score-label">SCORE:</span>
    <span class="user-score">{{ currentUser.score || 0 }}</span>
  </div>

  <button
    class="edit-profile"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    Your Profile
  </button>
  <mat-card class="your-earnings">
    <h2>Total Earnings:</h2>
    <span>$324</span>
    <span>+$30(%20)</span>
  </mat-card>
  <mat-card class="your-stocks">
    <h2>Your Stocks:</h2>
    <div class=table-container>
      <table mat-table [dataSource]="dataSource" >
   
       
       <ng-container matColumnDef="company">
         <th mat-header-cell *matHeaderCellDef> Company </th>
         <td mat-cell *matCellDef="let element"> {{element.company}} </td>
       </ng-container>
     
       <ng-container matColumnDef="amount">
         <th mat-header-cell *matHeaderCellDef> Amount </th>
         <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
       </ng-container>
     
       <ng-container matColumnDef="gain_d">
         <th mat-header-cell *matHeaderCellDef> Gain $ </th>
         <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
       </ng-container>
   
       <ng-container matColumnDef="gain_p">
         <th mat-header-cell *matHeaderCellDef> Gain % </th>
         <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
   </div>
  </mat-card>
  
</div>
