@import "../../../styles.scss";

.container {
    // width: 100vw;
    // height: 100vh;
    background-image: url("../../../assets/backgroung-shape.svg");
    height: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: $mt-dark;
    .logo{
        background-image: url('../../../assets/logo.svg');
        position: absolute;
        top: 2em;
        left: 5em;
        height: 125px;
        width: 20%;
        background-repeat: no-repeat;
    }
    .app-login-position {
        position: absolute;
        top: 0;
        right: 0;
    }
    .app-signup-position {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .money-tree-position {
        position: absolute;
        top: 12em;
        left: 5em;
    }
    .second-line {
        font-weight: 500;
        font-size: 46px;
    }
    .money-tree {
        font-weight: 900;
        font-size: 72px;
    }
    .negative-text {
        color: $mt-white;
    }
    
}
