<!-- <form class="example-form">

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field floatLabel="auto">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" floatLabel="auto">
                    <mat-label>Email</mat-label>
                    <input matInput type='email'>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" floatLabel="auto">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Confirm Password" type="password">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-flat-button> Sign Up</button>
            </td>
        </tr>
    </table>
</form> -->

<!-- Alternative implementation just to test css -->
<div class="sign-up-form">
    <div>
        <input placeholder="First Name" type="text"> <input placeholder="Last Name" type="text">
    </div>
    <div > <input placeholder="email" type="email"> </div>
    <div>
        <input placeholder="Password" type="password"> <input placeholder="Confirm Password" type="password">
    </div>
    <span class="sign-up-form"> <button mat-flat-button>Sign up</button></span>
</div>