@import "../../../styles.scss";

.container {
  padding: 5em;
  width: 530px;

  .half {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
  }
  .full{
    width: calc(100% - 10px);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
  }
  .mat-flat-button {
    background-color: $action-color;
    color: black;
    font-size: 16px;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
  }
  .semi-title{
    font-size: 48px;
    margin-bottom: 1em;
  }
}
