@import "../../../styles.scss";

.container {
  padding: 5em;
  width: 530px;

  .signup-title {
    font-size: 48px;
    margin-bottom: 1em;
  }

  .mat-flat-button {
    background-color: $action-color;
    color: black;
    font-size: 16px;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: initial;
    padding: 16px;

    .signup-title {
      text-align: center;
      margin-bottom: 16px;
      font-size: 30px;
    }
  }
}
