<div class="container">
    <h1 class="signup-title">Sign Up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-first-name" matInput placeholder="First Name" type="text" [formControl]="firstName" />
        </mat-form-field>

        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-last-name" matInput placeholder="Last Name" type="text" [formControl]="lastName" />
        </mat-form-field>

        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-username" matInput placeholder="Username" type="text" [formControl]="username" />
        </mat-form-field>

        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-email" matInput placeholder="Email" type="email" [formControl]="email" />
        </mat-form-field>

        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-password" matInput placeholder="Password" type="password" [formControl]="pwd" />
        </mat-form-field>

        <mat-form-field class="mt-input-field half" appearance="outline" color="accent">
            <input id="signup-password-2" matInput placeholder="Confirm Password" type="password" [formControl]="pwd2" />
        </mat-form-field>

        <button id="signup-submit-btn" class="mt-input-field" mat-flat-button type="submit" [class.btn-opacity-disabled]="signUpForm.invalid"
            [disabled]="!signUpForm.valid">
            SIGN UP
        </button>

        <div class="form-error-messages" *ngIf="signUpForm.invalid">
            {{ showErrorMessage() }}
        </div>
    </form>

</div>