@import "../../../styles.scss";

.mat-card {
  margin-bottom: 20px;
}
.user-stock-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .title {
    margin: 0;
  }
}

.user-stock-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .col-left {
    width: 50%;
    margin-right: 5px;
  }
  .col-right {
    width: 50%;
    margin-left: 5px;
  }

  .label {
    color: $primary-color;
    font-weight: 500;
  }

  .row {
    padding: 2px 0 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .negative-change {
    color: $mt-red;
  }
  .positive-change {
    color: $mt-green;
  }
}
.user-stock-empty-container {
  padding: 15px;
  font-size: 14px;
  text-align: center;
  vertical-align: center;
}
.buy-button {
  margin-top: 10px;
  padding: 0 20px;
  .btn {
    width: 100%;
  }
}
.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-half {
    width: 48%;
  }
}
