<mat-card>
  <div class="user-stock-header">
    <h2 class="title">In Portfolio</h2>
    <mat-icon>local_atm</mat-icon>
  </div>

  <div *ngIf="true" class="user-stock-container">
    <!--ngIf to change -->
    <div class="col-left">
      <div class="row">
        <span class="label">No. of Shares: </span>
        <span id="user-stock-quantity">{{ userStockNoOfShares }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row">
        <span class="label">Avg/Share: </span>
        <span id="user-stock-avg">{{ userStockAvgShare }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row">
        <span class="label">% Portfolio: </span>
        <span id="user-stock-portfolio">{{ userStockPortfolio }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>

    <div class="col-right">
      <div class="row">
        <span class="label">Total Value:</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row">
        <span id="user-stock-value">{{ userStockTotalValue }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row" [ngClass]="stockChangeColor()">
        <span id="user-stock-change"
          >{{ userStockChange }}
          <span *ngIf="!isUserStockIncrease()">&darr;</span>
          <span *ngIf="isUserStockIncrease()">&uarr;</span>
          {{ userStockPercentageChange }}
        </span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>
  </div>
  <div *ngIf="false" class="user-stock-empty-container">
    <!--ngIf to change -->
    At the moment, You don’t have any {{ stockSymbol }} shares in your
    portfolio.
  </div>
  <div *ngIf="true" class="buttons-container">
    <!--ngIf to change -->
    <button
      class="btn-half"
      mat-raised-button
      color="primary"
      (click)="openSellOrBuyActionsModal('buy',stockInfo)"
    >
      BUY
    </button>
    <button
      class="btn-half"
      mat-raised-button
      color="primary"
      (click)="openSellOrBuyActionsModal('sell',stockInfo)"
    >
      SELL
    </button>
  </div>
  <div *ngIf="false" class="buy-button">
    <!--ngIf to change -->
    <button
      class="btn"
      mat-raised-button
      color="primary"
      (click)="openSellOrBuyActionsModal('buy', stockInfo)"
    >
      BUY
    </button>
  </div>
</mat-card>
