<mat-card>
  <div class="stats-header">
    <h2 class="title">Stats</h2>
    <mat-icon>trending_up</mat-icon>
  </div>

  <div class="stats-container">
    <div class="col-stat">
      <div class="row-stat">
        <div class="tooltip">
          <span class="tooltiptext"> Open definition</span>
          <span class="stat-label">Open </span>
        </div>
        {{ open }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">High </span>
        {{ high }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Low </span>
        {{ low }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Vol. </span>
        {{ volume }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-stat">
      <div class="row-stat">
        <span class="stat-label">Mkt cap </span>
        {{ mktCap }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">52W h </span>
        {{ wh }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">52W l </span>
        {{ wl }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Avg vol. </span>
        {{ avgVolume }}
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>
  </div>
</mat-card>
