<mat-card>
  <div class="stats-header">
    <h2 class="title">Stats</h2>
    <mat-icon>trending_up</mat-icon>
  </div>

  <div class="stats-container">
    <div class="col-stat">
      <div class="row-stat">
        <div class="tooltip">
          <span class="tooltiptext"> Open definition</span>
          <span class="stat-label">Open </span>
        </div>
        <span id="statOpen">{{ open }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">High </span>
        <span id="statHigh">{{ high }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Low </span>
        <span id="statLow">{{ low }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Vol. </span>
        <span id="statVol">{{ volume }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-stat">
      <div class="row-stat">
        <span class="stat-label">Mkt cap </span>
        <span id="statMktCap">{{ mktCap }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">52W h </span>
        <span id="statWh">{{ wh }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">52W l </span>
        <span id="statWl">{{ wl }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row-stat">
        <span class="stat-label">Avg vol. </span>
        <span id="statAvgVol">{{ avgVolume }}</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
    </div>
  </div>
</mat-card>
