@import "../../../styles.scss";
.container {
  position: relative;
}
.transaction-history-container {
  position: absolute;
  right: 3em;
  bottom: 3em;
  width: 345px;
  height: 375px;
}
.profile-info-container {
  position: absolute;
  top: 10em;
  left: 4em;
  width: 800px;
  height: 500px;
  .picture-wrap {
    height: 60%;
    width: 100%;
    position: relative;
    .cover-picture {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .profile-picture {
      position: absolute;
      border-radius: 50%;
      height: 125px;
      width: 125px;
      left: 5em;
      top: 14em;
      border: white solid 5px;
    }
  }
  .labels {
    display: flex;
    position: absolute;
    line-height: 35px;
    margin-top: 10px;
    left: 15em;
    > * {
      margin-left: 1em;
    }
    .followers-follwings-container {
      .follow-unfollow-label {
        color: $primary-color;
        text-decoration: underline;
        font-size: medium;
      }
      .follow-unfollow-button {
        color: white;
        background-color: $primary-color;
        margin: 2px;
        width: 150px;
        text-align: center;
      }
    }
    .industry {
      font-weight: 300;
    }
    .username {
      font-weight: bold;
    }
  }
  .bio {
    top: 5em;
    width: 96%;
    height: auto;
  }
}
