<app-header></app-header>
<div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div fxFlex="60%" class="profile-info-container" *ngIf="completeUserProfile">
        <div class="picture-wrap">
            <img alt="cover picture" class="cover-picture" src="{{completeUserProfile.coverPhotoURL}}">
            <img alt="profile picture" class="profile-picture" src="{{completeUserProfile.avatarURL}}">
        </div>
        <div class="profile-information-row">
            <div class="username"> {{ completeUserProfile.username }} </div>
            <div class="followers-follwings-container" *ngIf="completeUserProfile">
                <button mat-button class="follow-unfollow-label" (click)="openDialog('followers')">{{getFollowers().length}}
                    followers</button>
                <button mat-button class="follow-unfollow-label"
                    (click)="openDialog('followings')">{{getFollowings().length}}
                    followings</button>
                <button mat-button class="follow-unfollow-button" *ngIf="!isLoggedInUserProfile()"
                    (click)="followOrUnfollow()" [disabled]="followButtonDisabled">{{followButtonLabel()}}</button>
            </div>
        </div>
        <mat-card class="bio">
            {{ bioText() }}
        </mat-card>
        <app-stock-historical-chart
        *ngIf="showPortfolioChart"
        [historicalData]="portfolioHistoricalData$ | async"
        (changeHistoricalChartRangeInterval)="changeChartRangeInterval($event)"
        ></app-stock-historical-chart>
    </div>
    
    <div fxFlex="40%" class="profile-right-col">
        <app-transaction-history class="transaction-history-container" [currentProfileUser]="currentProfileUser$ | async">
        </app-transaction-history>
    </div>
</div>
